.Country_card {
  border: 1px solid #ddd;
  width: 380px;
  min-height: 20rem;

  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.Country_card:hover img {
  transform: scale(1.05);
}

.Country_card:hover {
  box-shadow: var(--Paper-shadow);
}
