*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Countries_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 854px) {
  .Countries_container {
    justify-content: space-around;
  }
}
